@mixin base-repeat($height: 8.4px, $width: 100%, $border-radius: 1.3px, $background: #3071a9) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  background: $background;
}

@mixin range-track() {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
}

@mixin thumb() {
  &::-webkit-slider-thumb {
    @content;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}

@mixin ms-fill() {
  &::-ms-fill-lower {
    background: #2a6495;
    @content;
  }
  &::-ms-fill-upper {
    background: #3071a9;
    @content;
  }
  &:focus::-ms-fill-lower {
    background: #3071a9;
  }
  &:focus::-ms-fill-upper {
    background: #367ebd;
  }
}
