@import "_mixins";

body {
  h1 {
    color: #c69;
  }
}

.btn {
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  line-height: 20px;
  border-radius: 2px;
  &:disabled .btn__price {
    background-color: #aaaaaa;
  }
  &__price {
    background-color: #008000;
    padding: 1px 3px;
  }
  @include btn-mode(primary, rgb(204, 68, 102), rgb(255, 255, 255));
  @include btn-mode(secondary, rgb(237, 188, 200), rgb(0, 0, 0));
}
